@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #232f34;
  --color-primary: #a8dadc;
  --color-secondary: #344955;
  /* --color-text: #f1faee; */
  --color-text: #c4d1dd;
  /* --color-CTA: #e63946; */
  --color-CTA: #f9aa33;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  /* background: radial-gradient(circle, rgba(96, 142, 144, 1) 0%, rgba(53, 92, 116, 1) 50%, rgba(21, 39, 64, 1) 100%); */
  @apply bg-background dark:bg-dark-background;
  /* background: var(--color-bg); */
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
}

input,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
li {
  @apply text-text dark:text-dark-text;
}

input:not(input[type='radio'], input[type='checkbox']) {
  @apply w-full bg-opacity-10 text-sm bg-transparent outline-none border-2 border-opacity-30 border-text dark:border-dark-text p-2 rounded-lg;
}

span {
  @apply text-sm;
}

.t-fade-in-enter-active,
.t-fade-in-leave-active {
  @apply opacity-100 transition-opacity duration-300 ease-out;
}

.t-fade-in-enter-from,
.t-fade-in-leave-to {
  @apply opacity-0;
}

::-webkit-scrollbar {
  display: none;
  width: 10px;
}

::-webkit-scrollbar-track {
  /* background: radial-gradient(circle, rgba(96, 142, 144, 1) 0%, rgba(53, 92, 116, 1) 50%, rgba(21, 39, 64, 1) 100%); */
  /* background-repeat: no-repeat; */
  background: transparent;
}

/* ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  @apply rounded-full;
} */
